.btn {
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.9;
}

.secondory-btn:hover {
    background-color: var(--bg_secondory_btn_hover);
    opacity: 1;
}

.secondory-btn {
    background-color: var(--bg_secondory_btn);
    border: 1px solid transparent;
    color: var(--color_text_btn_secondary);
}
.default-btn {
    background-color: var(--accent);
    border: 1px solid transparent;
    color: var(--color_text_btn_default);
}

.outline-btn {
    background-color: transparent;
    border: 1px solid var(--border_color);
    color: var(--color_text_btn_outline);
}

.tentery-btn {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color_text_btn_secondary);
}

.l-btn {
    padding: 14px 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    height: 56px!important;
    box-sizing: border-box;
}

.m-btn {
    padding: 5px 16px;
    border-radius: 4px;
    font-size: 13px;

    height: 36px!important;
    box-sizing: border-box;
}

.stretched-btn {
    width: 100%!important;
}

.load-btn {
    cursor: default!important;
}

.load-btn img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.load-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-disabled,
.btn-disabled:hover {
    opacity: 0.6;
    cursor: default;
}