.panel-board .page-block {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.panel-board .left-block {
    width: 25%
}

.panel-board .left-block .group-block {
    height: 100%;
    max-height: 500px;
    overflow: auto;
}

.panel-board .center-block {
    width: 45%;
}

.panel-board .right-block {
    width: 25%;
}

.center-block .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-block {
    border-radius: 8px;
    border: 1px solid var(--border_color);

    background-color: #fff;

    overflow: hidden;

    padding: 20px;
    box-sizing: border-box;
}

.block-simple {
    margin-bottom: 10px;
}

.block-simple h5 {
    font-size: 12px;
    font-weight: 700;
    color: #4D4F55;
    margin: 0 0 6px 0;
}

.block-simple .cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    
}

.left-block .cell {
    padding: 4px 0;
    border-bottom: 1px solid #EEF4FF;
    font-size: 12px;
}
.left-block .cell.black {
    font-weight: 700;
}

.block-simple .cell span {
    color: #000;
    font-weight: 600;
    font-size: 12px;
}

.block-simple .cell span:first-child {
    color: #4D4F55;
    font-weight: 400;
    font-size: 12px;
}

.board {
    /* width: 472px;
    height: 472px; */
    position: relative;
}

.board .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board .pixel {
    padding: 8px;
    border: 1px solid #A8C8FD;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;

    width: 40px;
    height: 40px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: #CCDEFF;
    font-weight: 500;

    /* border: 2px solid transparent; */
    cursor: pointer;
}

.board .pixel:hover {
    background-color: #CCDEFF;

    border: 2px dashed #0062AD;

    color: #0062AD;
}

.portal-blue {
    background-color: #EEF4FF!important;
    border: 2px dashed #0062AD!important;
    color: #0062AD!important;

    /* z-index: 5; */
}

/* .portal-blue:hover {
    background-color: #CCDEFF!important;
} */

.portal-blue.active {
    background-color: #CCDEFF!important;
}
.portal-red.active {
    background-color: #fdded6!important;
}

.portal-red {
    background-color: #FFEEEA!important;
    border: 2px dashed #B91C23!important;
    color: #B91C23!important;

    /* z-index: 5; */
}

.win {
    border: 1px solid #0062AD!important;
}

.win:before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #0062AD!important;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
}

.board .pixel {
    position: relative;
    z-index: 3;
}

.board .pixel:hover {
    z-index: 10;
}

.board .pixel:hover .line-2,
.board .pixel:hover .line-3 {
    display: block;
}

.line-2 {
    display: none;
    height: 0px;
    /* background-color: #0062AD; */
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform-origin: 0 0;
    z-index: 0;

    border-bottom: 1px dashed #0062AD
}

.line-3 {
    display: none;
    height: 0px;
    /* background-color: #0062AD; */
    position: absolute;
    top: 20px;
    left: 20px;
    transform-origin: 0 0;
    z-index: 0;

    border-bottom: 1px dashed #0062AD
}

.portal-red .line-2,
.portal-red .line-3 {
    border-bottom: 1px dashed #B91C23
}
.pixel.active .players{
    bottom: 4px;
}
.players {
    position: absolute;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.players > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin-right: 2px;
}
.player:last-child {
    margin-right: 0px;
}
.player.in-0,
.move.in-0 {
    background-color: #BB6BD9;
}
.player.in-1,
.move.in-1 {
    background-color: #56CCF2;
}
.player.in-2,
.move.in-2 {
    background-color: #EB5757;
}
.player.in-3,
.move.in-3 {
    background-color: #0075C7;
}
.player.in-4,
.move.in-4 {
    background-color: #FF8A7A;
}
.player.in-5,
.move.in-5 {
    background-color: #A8C8FD;
}
.player.in-6,
.move.in-6 {
    background-color: #9FB9CC;
}
.player.in-7,
.move.in-7 {
    background-color: #4AB44A;
}
.player.in-8,
.move.in-8 {
    background-color: #B28501;
}

.player-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    /* background: #EEF4FF; */
    border: 1px solid #CCDEFF;
    padding: 8px;
    cursor: pointer;
    margin-right: 16px;
}

.player-block .player {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.start_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start_line > * {
    margin-right: 6px;
}

.player-block.you {
    background-color: #EEF4FF;
}

.block-img {
    border: 1px solid #CCDEFF;
    padding: 50px 100px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.tre-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tre-btn > * {
    margin-right: 10px;
}

.tre-btn > *:last-child {
    margin: 0;
}

.in-block-img {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.players .move {
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin-right: 2px;
    transition: transform 0.5s;

    z-index: 30;

    bottom: 0px;
    left: 0px;
    opacity: 0;
}

.block-img small {
    font-size: 10px;
    margin-top: 10px;
}