.panel-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 80px;
}

.panel-main .text {
    font-size: 24px;
}

.panel-main h1 {
    margin-top: 0;
    font-size: 40px;
}

.panel-main .block-buttons {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 60%;
}

.panel-main .block-buttons > * {
    margin-right: 16px;
}